<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bar-chart-o"></i> An&aacutelisis de Accidentes<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="chartjs.html">Por G&eacutenero</a></li>
                    <li><a href="chartjs2.html">Por Estado Civil</a></li>
                    <li><a href="morisjs.html">Por Temperatura</a></li>
                    <li><a href="echarts.html">Por Escolaridad</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>