<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bar-chart-o"></i> Polic&iacutea de tr&aacutensito<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="byGender">Por G&eacutenero</a></li>
                    <li><a href="chartjs2.html">Por Estado Civil</a></li>
                    <li><a href="morisjs.html">Por Temperatura</a></li>
                    <li><a href="morisjs.html">Por Tipo de Transporte</a></li>
                    <li><a href="echarts.html">Por Escolaridad</a></li>
                    <li><a href="echarts.html">Por Edad</a></li>
                    <li><a href="echarts.html">Por Zona</a></li>
                    <li><a href="echarts.html">Por Tipo de Vía</a></li>
                </ul>
            </li>

             <li><a><i class="fa fa-bar-chart-o"></i> Secretar&iacutea de tr&aacutensito<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="byGender">Por G&eacutenero</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>