<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bar-chart-o"></i> Polic&iacutea de tr&aacutensito<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="crashesbyGender">Por G&eacutenero</a></li>
                    <li><a href="crashesbyCivil ">Por Estado Civil</a></li>
                    <li><a href=" ">Por Temperatura</a></li>
                    <li><a href="crashesbymovilKind">Por Tipo de Transporte</a></li>
                    <li><a href="crashesbyEscolaridad">Por Escolaridad</a></li>
                    <li><a href="crashesbyEdad ">Por Edad</a></li>
                    <li><a href=" ">Por Zona</a></li>
                    <li><a href=" ">Por Tipo de Vía</a></li>
                </ul>
            </li>

             <li><a><i class="fa fa-bar-chart-o"></i> Secretar&iacutea de tr&aacutensito<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="diesbyGender">Por G&eacutenero</a></li>
                    <li><a href=" diesbyCivil">Por Estado Civil</a></li>
                    <li><a href="diesbymovilKind">Por Tipo de Transporte</a></li>
                    <li><a href="diesbyEscolaridad">Por Escolaridad</a></li>
                    <li><a href="diesbyEdad">Por Edad</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>